## Project Overview
"Travel.Com" company wants to enable and establish a viable business model to expand the customer base. One of the ways to expand the customer base is to introduce a new offering of packages. Currently, there are 5 types of packages the company is offering - Basic, Standard, Deluxe, Super Deluxe, King. Looking at the data of the last year, we observed that 18% of the customers purchased the packages. However, the marketing cost was quite high because customers were contacted at random without looking at the available information. The company is now planning to launch a new product i.e. Wellness Tourism Package. Wellness Tourism is defined as Travel that allows the traveler to maintain, enhance or kick-start a healthy lifestyle, and support or increase one's sense of well-being.However, this time company wants to harness the available data of existing and potential customers to make the marketing expenditure more efficient.

We need to analyze the customers' data and information to provide recommendations to the Policy Maker and Marketing Team and also build a model to predict the potential customer who is going to purchase the newly introduced travel package.

- CustomerID : Id customer
- ProdTaken  : whether customer Taken or not Taken the product that offer (1:Taken, 0:Not Taken)
- Age	     : Age of Customer
- TypeofContact	: How customer was contacted (Company Invited or Self Inquiry)
- CityTier : City tier depends on the development of a city, population, facilities, and living standards. The categories are ordered i.e.
- DurationOfPitch : Duration of the pitch by a salesperson to the customer
- Occupation	: Occupation of cutomer
- Gender	    : Whether customer Male or Female
- NumberOfPersonVisiting : Number of Person who visiting
- NumberOfFollowups	: Number of 
- ProductPitched	
- PreferredPropertyStar	: Preferred hotel property rating by customer (3,4,5)
- MaritalStatus	: Marital status of customer
- NumberOfTrips	: Average number of trips in a year by customer
- Passport	: The customer has a passport or not (0: No, 1: Yes)
- PitchSatisfactionScore : Sales pitch satisfaction score	
- OwnCar : Whether the customers own a car or not (0: No, 1: Yes)
- NumberOfChildrenVisiting	: Total number of children with age less than 5 planning to take the trip with the customer
- Designation : Designation of the customer in the current organization	
- MonthlyIncome : Gross monthly income of the customer

#### Import Package

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Load Dataset

In [2]:
df = pd.read_csv('data/Travel.csv')

In [3]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

## EDA

### Descriptive Statistics

#### Cek tipe data tiap kolom dengan `df.info()` dan cek missing value dari data dengan `df.isna()`

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [12]:
df.isna().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

#### Statistical summary dengan `df.describe()`

Splitting Data menjadi Numeric dan Categorical berdasarkan tipe datanya untuk memudahkan analisis

In [19]:
cats = ['ProdTaken','TypeofContact','Occupation','Gender','ProductPitched','MaritalStatus','Passport','Designation']
nums = ['Age','MonthlyIncome','NumberOfChildrenVisiting', 'CityTier', 'PreferredPropertyStar','DurationOfPitch','NumberOfFollowups','NumberOfTrips','NumberOfPersonVisiting','PitchSatisfactionScore','OwnCar']

In [20]:
df[cats].describe()

         ProdTaken  PreferredPropertyStar     Passport
count  4888.000000            4862.000000  4888.000000
mean      0.188216               3.581037     0.290917
std       0.390925               0.798009     0.454232
min       0.000000               3.000000     0.000000
25%       0.000000               3.000000     0.000000
50%       0.000000               3.000000     0.000000
75%       0.000000               4.000000     1.000000
max       1.000000               5.000000     1.000000